<!DOCTYPE html>
<html lang="fr" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Mon Compte</title>
  <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/carlito" type="text/css"/>
  <link rel="stylesheet" href="/css/stylepopup.css"/>
</head>
<body>

  <h1>Mon Compte</h1>
  <p>
    Nom {{ session.user.NomClient }}
    Adresse {{ session.user.AdClient }}
    Ville {{ session.user.VilleClient }}
    Code Postal {{ session.user.CPClient }}
    Téléphone {{ session.user.TelClient }}
    Email {{  session.user.MailClient }}
  </p>
  {% if session.user.CodePart is defined %}
  <p class="particulier">
    Prénom {{ session.user.PrenomPart }}
    Fidélité {{ session.user.FidPart }}
  </p>
  {% else %}
  <p class="professionnel">
    Numéro SIRET {{ session.user.Siret }}
  </p>
  {% endif %}


  <a href="logout.php">Déconnexion</a>

</body>
</html>
