<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{ brand }}</title>

    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/carlito" type="text/css"/>
    <link rel="stylesheet" href="/css/ficheprod.css"/>
</head>

<body>

  <header>
    <img src="/images/bannierepopup.png">
  </header>

  {% for product in products %}
  {% if product.NumProd matches "/" ~ get.num ~ "/" %}
    <div id="corps">
          <div id="imgprod">
            <img  src="/images/produits/{{ product.NumProd }}.jpg">
          </div>
        <div id="infoprod">
            <div class="titre">
                <span class="nom_produit">{{ product.NomProd }}</span>
                <span class="prix"> {{ product.PrixHT }}&euro; <sup>TTC/jour</sup></span>
            </div>

            <div id="soustitre">
                <span> - {{ product.NumProd }} - </span>
                <div>
                    <label for="quantity" >Quantité</label>
                        <select name="quantity" id="stock">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                </div>
                <a href="/panier.php? id={{ product.NumProd }}"><img class="bouton_panier" src="/images/iconepanier.png"></a>
            </div>

        <div id="descri_prod">
          <hr>
                <h3>Description du produit</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Suspendisse laoreet at lectus pretium ultricies.
                    Donec porttitor rutrum rhoncus.
                    Sed diam ipsum, imperdiet sit amet nibh ut, porta molestie ligula.
                    Ut hendrerit egestas orci. Maecenas nisl erat, luctus eget vehicula eget, porta vel libero.
                    Vestibulum ante ipsum primis in faucibus orci.
                </p>
        </div>
    </div>
    {% endif %}
{% endfor %}

</body>
</html>
