<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>LocaFox</title>
    <meta charset="utf-8">
    <title>La societe</title>

    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/carlito" type="text/css"/>
    <link rel="stylesheet" href="/css/stylepopup.css"/>
  </head>

  <body>
  <header>
    <h1>Inscription</h1>
  </header>
      <div id="corps">
        <fieldset>
          <form id="formulaire" method="POST" action="inscrirepart.php" >
            <label>Nom</label>
            <input type="text" name="name" value="{{ name }}">
            {% if errors.name is defined %}
            <div>
              <i>{{ errors.name }}</i>
            </div>
            {% endif %}

            <label>Prénom</label>
            <input type="text" name="firstName" value="{{ firstName }}">
            {% if errors.firstName is defined %}
            <div>
              <i>{{ errors.firstName }}</i>
            </div>
            {% endif %}
            
            <div id="sexe">
              <label>Sexe</label>
              <input type="radio" name="sexe" value="H" >Homme
              <input type="radio" name="sexe" value="F">Femme
              {% if errors.sexe is defined %}
              <div>
                <i>{{ errors.sexe }}</i>
              </div>
              {% endif %}
            </div>
            <label>Adresse e-mail</label>
            <input type="email" name="email" value="{{ email }}">
            {% if errors.email is defined %}
            <div>
              <i>{{ errors.email }}</i>
            </div>
            {% endif %}

            <label>Mot de passe</label>
            <input type="password" name="password" value="{{ password }}">
            {% if errors.password is defined %}
            <div>
              <i>{{ errors.password }}</i>
            </div>
            {% endif %}
            {% if errors.lengthPassword is defined %}
            <div>
              <i>{{ errors.lengthPassword }}</i>
            </div>
            {% endif %}

            <label>Confirmer mot de passe</label>
            <input type="password" name="confirmPassword">
            {% if errors.confirmPassword is defined %}
              <i>{{ errors.confirmPassword }}</i>
            {% endif %}

            <label>Téléphone</label>
            <input type="tel" name="tel" value="{{ tel }}">
            {% if errors.tel is defined %}
            <div>
              <i>{{ errors.tel }}</i>
            </div>
            {% endif %}

            <label>Adresse</label>
            <input type="text" name="address" value="{{ address }}">
            {% if errors.address is defined %}
            <div>
              <i>{{ errors.address }}</i>
            </div>
            {% endif %}

            <label>CP</label>
            <input type="text" name="cp" value="{{ cp }}">
            {% if errors.cp is defined %}
            <div>
              <i>{{ errors.cp }}</i>
            </div>
            {% endif %}

            <label>Ville</label>
            <input type="text" name="city" value="{{ city }}">
            {% if errors.city is defined %}
            <div>
              <i>{{ errors.city }}</i>
            </div>
            {% endif %}

<<<<<<< HEAD
        <label>Adresse</label>
        {% if errors.address is defined %}
        <div>
          {{ errors.address }}
        </div>
        {% endif %}
        <input type="text" name="address" value="{{ address }}"><br><br>

        <label>CP</label>
        {% if errors.cp is defined %}
        <div>
          {{ errors.cp }}
        </div>
        {% endif %}
        <input type="text" name="cp" value="{{ cp }}"><br><br>

        <label>Ville</label>
        {% if errors.city is defined %}
        <div>
          {{ errors.city }}
        </div>
        {% endif %}
        <input type="text" name="city" value="{{ city }}"><br><br>

        <input type="submit" value="valider">
        
        {% if valid %}
        <script type="text/javascript">
        window.parent.$.zoombox.close();
        </script>
        {% endif %}
      </form>
    </fieldset>
=======
            <input type="submit" value="valider">
            {# Fonction pour fermer la zoombox lorsque le formulaire est validé ==> $_zoombox_close() #}
          </form>
        </fieldset>
      </div>
>>>>>>> 5c05e5d1465f8bd5a931b91ce0d1156b990669fb
</body>
</html>
